
/*Make each cube center aligned*/
.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;

}

/*adjust each box size with 70x70*/
.box{
    width: 60px;
    height: 60px;
    /*adjust margin to each box as 5px*/
    margin: 0px 5px 5px 0px;
}